<h1>Log in</h1>

<%= form_with url: login_path do |form| %>
 <div class="form-floating mb-3">
        <%= form.text_field :email, class: "form-control", placeholder: "email@example.com" %>
        <label for="floatingInput">Email</label>
    </div>
    <div class="form-floating mb-3">
        <%= form.password_field :password, class: "form-control", placeholder: "Password" %>
        <label for="floatingInput">Password</label>
    </div>

    <div>
        <%= form.submit "Log in", class: "btn btn-secondary", data: { turbo: false } %>
        <%= link_to "Forgot my password", password_reset_path, class: "btn btn-outline-secondary"%>
    </div>
    
<% end %>